@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  height: 100vh;
  padding: 20px 0;
  background: #BF53E8;
  background: linear-gradient(to bottom right, #BF53E8, #38015A);
}