@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  padding: 20px 0;
  min-height: 100vh;
  overflow-x: hidden;
  background: #BF53E8;
  background: linear-gradient(to bottom right, #BF53E8, #38015A);
}

body::-webkit-scrollbar {
  width: 12px;               /* ширина scrollbar */
}
body::-webkit-scrollbar-track {
  background: #38015A;        /* цвет дорожки */
}
body::-webkit-scrollbar-thumb {
  background-color: #530174;    /* цвет плашки */
  border-radius: 10px;       /* закругления плашки */
  border: 3px solid #38015A;  /* padding вокруг плашки */
}