@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  overflow-x: hidden;
  /* background-color: rgb(35 39 47); */
}

body::-webkit-scrollbar {
  width: 12px;               /* ширина scrollbar */
}
body::-webkit-scrollbar-track {
  background: rgb(35 39 47);        /* цвет дорожки */
}
body::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.387)(255, 255, 255, 0.387);    /* цвет плашки */
  border-radius: 10px;       /* закругления плашки */
  border: 3px solid #fff;  /* padding вокруг плашки */
}

.container-function-btn {
  display: flex;
  justify-content: space-between;
  margin: 10px 7px;
  width: 225px;
}

.container-function-btn button {
  font-size: 16px;
  font-weight: 600;
  border: none;
  padding: 7px 20px;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 1px 1px 3px dimgray;
  transition: .1s;
  cursor: pointer;
}

.container-function-btn button:hover {
  color: #fff;
  background-color: crimson;
  transform: translate(1px, 2px);
}

.container-function-btn button.active {
  color: #fff;
  background-color: crimson;
  transform: translate(1px, 2px);
}

main {
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 1px black;
  padding: 10px;
  width: 97vw;
  margin: 20px auto 10px;
  border-radius: 4px;
}