.data-view {
  margin-top: 10px;
  padding: 5px;
  display: flex;
  width: 400px;
  justify-content: flex-start;
  column-gap: 30px;
}

.data-view h3 {
  padding: 4px 20px;
  box-shadow: 1px 1px 3px dimgray;
  border-radius: 4px;
}

.prev-and-next {
  margin-top: 10px;
  width: 175px;
  display: flex;
  justify-content: space-between;
}

.prev-and-next button {
  font-size: 18px;
  font-weight: 700;
  padding: 5px 18px;
  border: 0;
  border-radius: 4px;
  background-color: #fff;
  cursor: pointer;
  transition: .1s;
}

.prev-and-next button:hover {
  transform: scale(1.1);
}

.prev-and-next .prev {
  color: crimson;
  box-shadow: 0 0 3px crimson;
}

.prev-and-next .next {
  color: green;
  box-shadow: 0 0 3px green;
}

.prev-and-next .next:hover {
  background-color: green;
  color: #fff;
}

.prev-and-next .prev:hover {
  background-color: crimson;
  color: #fff;
}

.prev-and-next button:disabled {
  background-color: dimgray;
  color: #fff;
}

